body {background-color: powderblue;}

h1   {color: rgb(65, 65, 224);}
h2   {color:rgb(158, 62, 27)}

p    {color: rgb(181, 117, 117);}



#myHeader {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
  }


 .mySmallHeadings {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
 }